extends layout

block content
  h1= title
  div
      table#productList
        thead
          tr
            th Name
            th Price
            th Quantity
            th
        tbody
        each item in cart
          tr
            th= item.product_id
            th= item.user_id
            th= item.qty
            th
  br
  h2= total
