extends layout

block content
  #payment
    h2= price
    form(name='product', method='post', action='/cart/add/')
        input(type="hidden" name="user_id" value=1)
        input(type="hidden" name="product_id" value=id)
        input(type="hidden" name="qty" value=1)
        input(type='submit', value='Add ToCart')
    p.added Added to Cart
  #content(style="width: 70%")
    h1= title
    img.image(src=filepath, style="width: 30%; float: left; margin-right: 20px; ")
    p !{description}
    br
  script.
    if (document.referrer.indexOf('cart') >= 0) { document.getElementsByClassName('added').style.visibility="visible"; }
