extends layout

block content
  #content
    h1= title
    div
    - var total = 0
    - var qty = 0
        table#productList
          thead
            tr
              th Name
              th Price
              th Quantity
          tbody
          each item in cart
            tr
              td= item.product_id
              td= item.user_id
              td= item.qty
              - total = total + item.qty
              - qty = qty + item.qty
    br
    h2= total
